body {
  background-color: #93BFCF;
  color: #323232;
  font-family: Gloock, serif;
  font-size: 18px;
  text-align: center;
  padding: 25px;
  margin: 0 auto;
}

h1 {
  color: #528fa6;
	font-family: 'Nixie One', cursive;
  letter-spacing: 3px;
  padding: 10px;
  margin-top: -15px;
}

h2 {
  color: #070707;
  font-weight: lighter;
  padding: 10px;
}

a {
  color: #528fa6;
  transition: color 0.3s ease;
}

a:hover {
  color: #93827F;
}

p {
  font-family: Gloock, serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

@media (max-width: 960px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 300px;
  }
}

#Portrait {
  border-radius: 15px;
  width: 160px;
  height: auto;
  box-shadow: 4px 7px 20px 0px;
}

.header {
  background-color: white;
  padding: 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 50px;
}

.partie {
  background-color: white;
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 50px;
}

.liste {
  list-style: none;
  font-size: 50px;
  display: inline;
  padding: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline;
  padding: 20px;
}

.list-inline i {
  font-size: 50px;
}
